@model IEnumerable<Student_Section_ManagementSystemProject.Models.Schedule>

@{
    ViewData["Title"] = "Schedule List";
}

<h2>Schedule List</h2>

<a href="/Schedules/Create" class="add-button">Add New Schedule</a>
<table class="student-table">
    <tr>
        <th>Subject</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    @foreach (var schedule in Model)
    {
        <tr>
            <td>@(schedule.Subject != null ? schedule.Subject.Name : "No Subject")</td>
            <td>@schedule.StartTime.ToString("hh:mm tt")</td>
            <td>@schedule.EndTime.ToString("hh:mm tt")</td>
        </tr>
    }
</table>

@if (TempData["ScheduleSuccessMessage"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["ScheduleSuccessMessage"]
    </div>
}

@if (TempData["ScheduleErrorMessage"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["ScheduleErrorMessage"]
    </div>
}

<script>
    // Hide alerts automatically after 2 seconds
    setTimeout(function () {
        let successBox = document.getElementById('successMessage');
        let errorBox = document.getElementById('errorMessage');

        if (successBox) {
            successBox.style.display = 'none';
        }

        if (errorBox) {
            errorBox.style.display = 'none';
        }
    }, 2000);
</script>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 5px;
        padding: 20px;
    }

    h2 {
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .add-button {
        display: inline-block;
        background-color: skyblue;
        color: black;
        padding: 5px 8px;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: 88%;
    }

        .add-button:hover {
            background-color: steelblue;
            color: white;
        }

    .student-table {
        width: 100%;
        border-collapse: collapse;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .student-table th, .student-table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        .student-table th {
            background-color: #007bff;
            color: white;
            text-align: center;
        }

        .student-table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

    .alert {
        padding: 5px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .alert-success {
        background-color: #28a745;
    }

    .alert-danger {
        background-color: #dc3545;
    }
</style>